.mvl-delete {
    float: right;
    position: relative;
}

.mvl-max-width {
    max-width: 600px;
}

.mvl-tv {
    /*background-image: url(/images/092-tv.png);*/
    /*background-repeat: no-repeat;*/
    vertical-align: text-top;
    margin-left:5px;
    margin-right:5px;
}

.mvl-add-movie-div {
    overflow:auto;
    height: 250px;
}

.mvl-episodes-div {
    overflow:auto;
    height: 150px;
}

.mvl-checkbox {
    margin-right: 10px;
    line-height: normal;
    padding: 0;
    vertical-align: top;
}

.mvl-hide-show-button {
    border: none;
    margin-left: 10px;
}

.mvl-add-movie-width {
    max-width: 40%;
}
